<%- include('headers') %>

<h1>this is just a heading</h1>

<p>there is nothing here except gibbrish and i'm just typing to text my typing skills and nothing else so if you think i'm just typing for fun and yes you are damn right i am just typing for fun and nothing else nothing fansy so. </p>
<p>i am filling up the page with all this and nothing you can do about it damn right nothing you can do about it so fuck off stupid. this is just me and my pc doing my shit and typing gibbrish ya typing gibbrish mehn ! i just hope this shit works cause i'm spending quality time here typing damn nothing. oh mehn! this one is quite longer than the first actually. okay i have to stop now cause it's becoming too long for me to even continue</p>
<p>ya, just tested it out and it's working perfectly. i guess my long typing was'nt in vain after all. wait! is this me or i'm i just getting slower with my typing? no can't do. I have to level up as soon as possible. mavis beacon closed up on me, i was doing well with the type drills and they just BOOM!! on me like that. oh well, i guess i have to train on my own. learning to type with codes is hell of a test. Kudos to me</p>
<p>i get the point. You want me to stop typing already right? i know but i won't and you know why? because you can't do shit about it ya nothing you can do about it and that makes me feel powerful like, i'm the boom like i'm superman for fucks sake. damn it i'm i should really stop this f words. i'm making too many typos and it's making me mad. See, see what i'm saying, it's freaking me out so much that i feel like beating myself or should i say my fingers. oh wait! or pour the rage on mavis beacon for blocking me access to their app. I mean, how can one get and download an app and two days can't use it anymore that is fucking rubbish. Okay you know what i'll still delete all this so i'm out of here</p>

<%- include('footers') %>